main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/sand.jpg);
  background-size: cover;
  background-attachment: fixed;

  #logo {
    position: fixed;
    top: 1rem;
    left: 1rem;

    img {
      width: 20vw;
    }
  }

  #logPage {
    -webkit-box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
    box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    min-width: 25vw;
    margin: 0 2rem;


    input {
      width: 100%;
      background-color: #efefef;
      color: #666;
      border: 2px solid #ddd;
      border-radius: .5rem;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      outline: none;
      margin: .5rem 0;

      &:focus {
        background-color: rgba(239, 239, 239, .1);
      }
    }

    button {
      width: 100%;
      background-color: #d85b11;
      font-size: 1.3rem;
      color: #eee;
      padding: .8rem 0;
      border: none;
      border-radius: .5rem;
      cursor: pointer;
      letter-spacing: 2px;
      outline: none;
      margin-top: 1.5rem;
    }

    a {
      text-decoration: none;
      outline: none;
    }

    h3 {
      max-width: 300px;
      margin: 0 auto 1.2rem auto;
      font-size: 1.2rem;
    }

    p {
      font-size: 1.1rem;
      margin: .3rem;
    }

  }
}

@media (max-width: 500px) {
  main {
    #logPage {
      input {
        font-size: 1rem;
      }

      button {
        font-size: 1rem;
      }
    }
  }
}
