<main (keyup)="login($event)">
  <div id="logo">
    <img src="../assets/img/logotype_white.png" alt="logo">
  </div>
  <div id="logPage">
    <h3>{{displayError(errorForm.global)}}</h3>

    <label>
      <input [(ngModel)]="loginForm.username" placeholder="login" onfocus="this.placeholder=''"
        onblur="this.placeholder='login'" [ngStyle]="{'background-color': inputErrorColor}">
    </label><br>

    <p>{{displayError(errorForm.username)}}</p>

    <label>
      <input [(ngModel)]="loginForm.password" type="password" placeholder="hasło" onfocus="this.placeholder=''"
        onblur="this.placeholder='hasło'" [ngStyle]="{'background-color': inputErrorColor}">
    </label><br>

    <p>{{displayError(errorForm.password)}}</p>

    <button (click)="login('click')">zaloguj się</button>
  </div>
</main>
<div style="clear:both"></div>