<ul>
  <li *ngFor="let user of getUsers()">
    <p>{{user.username}}</p> <input type="submit" (click)="deleteUser(user.id)" value="DELETE">
    <ul>
      <li *ngFor="let group of user.groups">-->{{group.name}}</li>
    </ul>
    <div>
      <select [(ngModel)]="addGroupForm[user.id]" [value]="1">
        <option *ngFor="let group of getGroups()" value="{{group.id}}">{{group.name}}</option>
      </select>
      <button (click)="addUser2Group(user.id)">ADD</button>
    </div>

    <br/>
  </li>
</ul>
<br/>
<br/>
<p>Create user</p><br/>
Username<input [(ngModel)]="newUserForm.username"><br/>
password <input type="password" [(ngModel)]="newUserForm.password"><br/>
<input type="submit" (click)="createUser()" value="create"><br/>
<p>Create users from file</p>
<input type="file" (change)="onFileChanged($event)"/>
<input type="submit" (click)="createUserFromFile()"/>
<ul>
  <li *ngFor="let user of userList">
    <p>{{user.username}}</p> <input type="submit" (click)="deleteUser(user.id)" value="DELETE">
    <ul>
      <li *ngFor="let group of getGroupsList(user.groups)">-->{{group.name}}</li>
    </ul>
    <br/>
  </li>
</ul>

