<main>
  <article>
    <div id="box">
      <h1>
        {{ displayIfExist(event, 'name') }}
      </h1>
      <p>
        {{ displayIfExist(event, 'description') }}
      </p>
      <h2>
        <span>typ:</span> {{ getNameType(displayIfExist(event, 'eventType')) }}
      </h2>
      <h2>
        <span>data: </span>{{ displayDate(event, 'dateStart') }} - {{displayDate(event, 'dateEnd') }}
      </h2>
      <h2>
        <span>Opis: </span><br/>
        {{displayIfExist(event, 'description')}}
      </h2>
      <input id="delete" type="button" (click)="deleteEvent()" value="usuń">
      <input id="back" type="button" routerLink="/events" value="wróć">
    </div>
  </article>
</main>
<div style="clear:both"></div>
