article {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #box {
    width: 30vw;

    h1 {
      font-size: 1.3rem;
      padding: 2rem;
      letter-spacing: 2px;
      border-bottom: 1px solid #eee;
    }

    h2 {
      padding: 1rem 0;
      font-size: 1.1rem;

      span {
        margin-right: .5rem;
        color: orangered;
      }
    }

    p {
      padding: .8rem;
      margin: 2rem 0;
      text-align: center;
      font-size: 1.1rem;
    }

    #delete,
    #back {
      width: 100%;
      color: #eee;
      font-size: 1.1rem;
      font-family: 'Montserrat Alternates', sans-serif;
      padding: 1rem;
      margin-top: 1.5rem;
      background-color: rgba(0, 0, 0, .5);
      border: 2px solid rgba(221, 221, 221, .2);
      border-radius: 1rem;
      text-align: center;
      transition: background-color .2s;

      &:hover {
        cursor: pointer;
        background-color: #000;
      }

      &:active {
        color: #333;
      }
    }

    #back {
      margin-top: .5rem;
    }
  }
}

@media (max-width: 1350px) {
  article {
    #box {
      width: 50vw;
    }
  }
}

@media (max-width: 800px) {
  article {
    #box {
      width: 80vw;
    }
  }
}

@media (max-width: 450px) {
  article {
    #box {
      h1 {
        font-size: 1.1rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }
}
