#timeTable {
    .day {
        width: 300px;
        height: 50px;
        background-color: #0A0B0D;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        transition: all .2s ease-in-out;
        &:hover {
            cursor: pointer;
            padding-left: 20px;
        }
        &:hover h6 {
            color: #fff;
        }
        h6 {
            font-size: 1.5rem;
            color: #ddd;
            .open {
                position: absolute;
                right: 10px;
            }
        }
    }
    .table {
        background-color: #171717;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hours {
        width: 80px;
        text-align: right;
    }
    #subjects {
        width: 150px;
        text-align: center;
    }
    #rooms {
        width: 30px;
        text-align: left;
    }
    .tableEl {
        display: inline-block;
        h6 {
            padding: 5px 0;
            border-bottom: 1px dotted #eee;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    #timeTableMGMT {
        width: 300px;
        height: 40px;
        line-height: 20px;
        background-color: #aa0000;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        h6 {
            font-size: 1rem;
            font-weight: 400;
            color: #bbb;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}
@media (min-width: 768px) {
    #timeTable {
        max-height: 80vh;
        overflow-y: scroll;
        scrollbar-color: #ccc rgba(0,0,0,0);
        scrollbar-width: thin;
        .day, #timeTableMGMT {
            width: 600px;
        }
        .tableEl {
            font-size: 1.5rem;
        }
        #hours {
            width: 130px;
        }
        #subjects {
            width: 310px;
        }
        #rooms {
            width: 80px;
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc
    }
}