#timeTable .day {
  width: 300px;
  height: 50px;
  background-color: #0A0B0D;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all .2s ease-in-out;
}

#timeTable .day:hover {
  cursor: pointer;
  padding-left: 20px;
}

#timeTable .day:hover h6 {
  color: #fff;
}

#timeTable .day h6 {
  font-size: 1.5rem;
  color: #ddd;
}

#timeTable .day h6 .open {
  position: absolute;
  right: 10px;
}

#timeTable .table {
  background-color: #171717;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeTable #hours {
  width: 80px;
  text-align: right;
}

#timeTable #subjects {
  width: 150px;
  text-align: center;
}

#timeTable #rooms {
  width: 30px;
  text-align: left;
}

#timeTable .tableEl {
  display: inline-block;
}

#timeTable .tableEl h6 {
  padding: 5px 0;
  border-bottom: 1px dotted #eee;
}

#timeTable .tableEl h6:last-child {
  border-bottom: none;
}

#timeTable #timeTableMGMT {
  width: 300px;
  height: 40px;
  line-height: 20px;
  background-color: #aa0000;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

#timeTable #timeTableMGMT h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #bbb;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  #timeTable {
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-color: #ccc transparent;
    scrollbar-width: thin;
  }
  #timeTable .day, #timeTable #timeTableMGMT {
    width: 600px;
  }
  #timeTable .tableEl {
    font-size: 1.5rem;
  }
  #timeTable #hours {
    width: 130px;
  }
  #timeTable #subjects {
    width: 310px;
  }
  #timeTable #rooms {
    width: 80px;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}
