<main>
  <article>
    <nav>
      <p routerLink="/lessons-edit">edytuj</p>
    </nav>
    <section>
      <div id="timeTable">
        <div id="uOption">
          <div id="ops">
            <div *ngFor="let day of timetableService.daysOfWeek">
              <div (click)="showDay(day[0])" [ngClass]="isActive[day[0]] ? 'day active' : 'day inactive'">
                <i class="icon-calendar"></i><br>{{ day[1] }}
              </div>
              <div id="mobileDayOfTimeTable" *ngIf="!mainTimeTable">
                <div class="table" *ngIf="isTabsOpen[whichDay] == whichDay && days[day[0]]">
                  <div *ngFor="let lesson of timetable()[whichDay], index as index, last as last">
                    <div class="lesson {{last}}Element">
                      <div class="tableEl subject">
                        {{ displayText(lesson[0], 'subject') }}
                      </div><br>
                      <div id="subDetails">
                        <div class="tableEl hours">
                          {{ displayTime(timetable()['period'][index]['start']) }} -
                          {{ displayTime(timetable()['period'][index]['end']) }}
                        </div>
                        <div class="tableEl room">
                          {{ displayText(lesson[0], 'classroom') }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="dayOfTimeTable" *ngIf="mainTimeTable">
          <div class="table" *ngIf="isTabsOpen[whichDay] == whichDay">
            <div *ngFor="let lesson of timetable()[whichDay], index as index, last as last">
              <div class="lesson {{last}}Element">
                <div class="tableEl subject">
                  {{ displayText(lesson[0], 'subject') }}
                </div><br>
                <div id="subDetails">
                  <div class="tableEl hours">
                    {{ displayTime(timetable()['period'][index]['start']) }} -
                    {{ displayTime(timetable()['period'][index]['end']) }}
                  </div>
                  <div class="tableEl room">
                    {{ displayText(lesson[0], 'classroom') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
