<main>
  <article>
    <nav>
      <p routerLink="/infos">wróć</p>
    </nav>
    <section>
      <div id="infosMgmtContent">
        <input placeholder="autor" type="text" onfocus="(this.placeholder='')" onblur="(this.placeholder='autor')">
        <textarea placeholder="artykuł" onfocus="(this.placeholder='')"
          onblur="(this.placeholder='artykuł')"></textarea>
        <label for="upload">Wybierz plik</label>
        <input id="upload" type="file">
        <input id="add" type="button" (click)="addInfo()" value="dodaj wpis">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
