<main>
  <article>
    <div id="box">
      <h1>
        {{ file.name }}
      </h1>
      <p>
        {{ file.description }}
      </p>
      <h2>
        <span>przedmiot:</span> {{ getType(file.fileType) }}
      </h2>
      <h2>
        <span>data dodania:</span> {{ getDate(file.date) }}
      </h2>
      <a [href]="file.upload" id="download" target="_blank">pobierz</a>
      <input id="back" type="button" routerLink="/files" value="wróć">
    </div>
  </article>
</main>
<div style="clear:both"></div>
