<main>
  <div>
    <div>

      <h2>Pliki:</h2>
    
      Nazwa: 
      <label>
        <input type="text" [(ngModel)]="addingFileForm.name">
      </label><br>
    
      Opis:
      <label>
        <textarea [(ngModel)]="addingFileForm.description"></textarea>
      </label><br>
    
      Typ:
      <label>
        <select [(ngModel)]="addingFileForm.type" size="1">
          <option *ngFor="let type of getTypes()" [value]="type.id">{{type.name}}</option>
        </select>
      </label><br>
    
      Plik:
      <input type="file" (change)="onFileChanged($event)"><br>
      <input type="button" (click)="uploadFile()" value="upload">
    
    </div>
    <div>
    
      <input type="text" (change)="searchFile()" [(ngModel)]="searchText"><br>
    
      Lista plików:
      <div *ngFor="let file of getFiles()">
        {{file.name}}
        <button (click)="downloadFile(file.name,file.upload)">Download</button>
        <button (click)="deleteFile(file.pk)">Delete</button>
        <button routerLink="/files/{{file.pk}}">details</button>
      </div>
    
    </div>
    <div>
    
      <h2>Typy</h2>
    
      name:
      <input type="text" [(ngModel)]="addingTypeForm.name">
      <button (click)="createTypeFile()">Dodaj typ</button>
    
    </div>
    <div>
    
      Lista typów:
      <div *ngFor="let type of getTypes()">
        {{type.name}}
        <button (click)="deleteType(type.id)">delete</button>
      </div>
      
    </div>
  </div>   
</main>
<div style="clear:both"></div>