<div>
  name: <label>
  <input type="text" [(ngModel)]="addingFileForm.name">
</label><br/>
  description: <label>
  <textarea [(ngModel)]="addingFileForm.description"></textarea>
</label><br/>
  <label>
    type:
    <select [(ngModel)]="addingFileForm.type" size="1">
      <option *ngFor="let type of getTypes()" [value]="type.id">{{type.name}}</option>
    </select>
  </label><br/>
  file: <input type="file" (change)="onFileChanged($event)"><br/>
  <input type="button" (click)="uploadFile()" value="upload">
</div>
<div>
  FileList:
  <div *ngFor="let file of getFiles()">
    {{file.name}}
    <button (click)="downloadFile(file.name,file.upload)">Download</button>
    <button type="button" routerLink="/files/{{file.pk}}">details</button>
  </div>
</div>
