<main>
  <article>
    <nav>
      <p routerLink="/files">wróć</p>
    </nav>
    <section>
      <div id="filesMgmtContent">
        <select required size="1">
          <option disabled selected hidden>przedmiot</option>
          <option>mat</option>
          <option>pol</option>
        </select>
        <input placeholder="nazwa" type="text" [(ngModel)]="fileName" onfocus="(this.placeholder='')"
          onblur="(this.placeholder='nazwa')">
        <textarea placeholder="opis" onfocus="(this.placeholder='')" onblur="(this.placeholder='opis')"></textarea>
        <select required size="1">
          <option disabled selected hidden>grupa</option>
          <option>wszyscy</option>
          <option>grupa 1</option>
          <option>grupa 2</option>
          <option>grupa 1 - UTK</option>
          <option>grupa 2 - UTK</option>
          <option>grupa 3 - UTK</option>
          <option>grupa 1 - WF - chł.</option>
          <option>grupa 2 - WF - chł.</option>
          <option>grupa 3 - WF - dz.</option>
        </select>
        <label for="upload">Wybierz plik</label>
        <input id="upload" type="file">
        <input id="add" type="button" (click)="addFile(fileName)" value="dodaj plik">
      </div>
      <div id="typesMgmtContent">
        <div id="typeAddForm">
          <input type="text" placeholder="nazwa typu" onfocus="(this.placeholder='')"
            onblur="(this.placeholder='nazwa typu')"><br>
          <input id="color" type="text" placeholder="kolor etykiety" [(ngModel)]="colorValue"
            onmouseover="(this.type='color')" onmouseout="(this.type='text')">
          <div id="colorBox" [style.background]="colorValue"></div>
          <div style="clear:both"></div>
          <input id="addType" type="button" value="dodaj typ">
        </div>
        <select required size="1">
          <option disabled selected hidden>wybierz typ</option>
          <option>sprawdzian</option>
        </select><br>
        <input id="deleteType" type="button" value="usuń typ">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>