<main>
  <article>
    <nav>
      <p routerLink="/files">wróć</p>
    </nav>
    <section>
      <div id="filesMgmtContent">
        <select required size="1" [(ngModel)]="addingFileForm.type">
          <option disabled selected hidden value="-1">przedmiot</option>
          <option *ngFor="let type of getTypes()" [ngValue]="type.id">{{type.name}}</option>
        </select>
        <input placeholder="nazwa" type="text" onfocus="(this.placeholder='')" onblur="(this.placeholder='nazwa')"
               [(ngModel)]="addingFileForm.name">
        <textarea placeholder="opis" onfocus="(this.placeholder='')" onblur="(this.placeholder='opis')"
                  [(ngModel)]="addingFileForm.description"></textarea>
        <label for="upload">Wybierz plik</label>
        <input id="upload" type="file" (change)="onFileChanged($event)">
        <input id="add" type="button" (click)="uploadFile()" value="dodaj plik">
      </div>
      <div id="typesMgmtContent">
        <div id="typeAddForm">
          <input type="text" placeholder="nazwa typu" onfocus="(this.placeholder='')"
                 onblur="(this.placeholder='nazwa typu')" [(ngModel)]="addingTypeForm.name"><br>
          <div style="clear:both"></div>
          <input id="addType" type="button" value="dodaj typ" (click)="addType()">
        </div>
        <select required size="1" [(ngModel)]="removeTypeId">
          <option disabled selected hidden value="-1">wybierz typ</option>
          <option *ngFor="let type of getTypes()" [ngValue]="type.id">{{type.name}}</option>
        </select><br>
        <input id="deleteType" type="button" (click)="delType()" value="usuń typ">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
