<main>
    <div id="eventsMgmt">

        <div id="eventsMgmtHead" class="header">
          <h6>Menedżer wydarzeń</h6>
        </div>
      
        <div id="eventsMgmtContent">
  
            <label id="name">
                <input placeholder="przedmiot" type="text">
            </label>

            <label id="type">
                <select required size="1">
                    <option disabled selected>typ</option>
                    <option>sprawdzian</option>
                    <option>kartkówka</option>
                    <option>odp. ustna</option>
                    <option>duże zad. domowe</option>
                    <option>referat</option>
                    <option>sprawozdanie</option>
                    <option>dla chętnych</option>
                </select>
            </label>

            <label id="desc">
                <textarea placeholder="opis"></textarea>
            </label>
  
            <label id="term" name="Termin:">
                    <input
                        placeholder="termin" type="text"
                        onfocus="(this.type='date')"
                        onblur="(this.type='text')"
                    >
            </label>

            <label id="group">
                <select required size="1">
                    <option disabled selected>grupa</option>
                    <option>grupa 1</option>
                    <option>grupa 2</option>
                    <option>grupa 1 - UTK</option>
                    <option>grupa 2 - UTK</option>
                    <option>grupa 3 - UTK</option>
                    <option>grupa 1 - WF - chł.</option>
                    <option>grupa 2 - WF - chł.</option>
                    <option>grupa 3 - WF - dz.</option>
                </select>
            </label>

            <input id="back" type="button" routerLink="/events" value="Wróć">

            <input id="add" type="button" value="Dodaj wydarzenie">

            
      
        </div>

    </div>

</main>
<div style="clear:both"></div>
