#eventsMgmt {
  width: 300px;
}

#eventsMgmt #eventsMgmtHead {
  width: 100%;
  height: 50px;
  background-color: #0A0B0D;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

#eventsMgmt #eventsMgmtHead h6 {
  font-size: 1.5rem;
  color: #ddd;
}

#eventsMgmt #eventsMgmtContent {
  background-color: #171717;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "box1" "box2" "box3" "box4" "box5";
}

#eventsMgmt #eventsMgmtContent #name {
  grid-area: box1;
}

#eventsMgmt #eventsMgmtContent #name input {
  height: 3.5rem;
  background-color: #222;
}

#eventsMgmt #eventsMgmtContent #type {
  grid-area: box2;
}

#eventsMgmt #eventsMgmtContent #type select {
  height: 3.5rem;
  background-color: #222;
}

#eventsMgmt #eventsMgmtContent #desc {
  grid-area: box3;
}

#eventsMgmt #eventsMgmtContent #desc textarea {
  height: 3.5rem;
}

#eventsMgmt #eventsMgmtContent #term {
  grid-area: box4;
}

#eventsMgmt #eventsMgmtContent #term input {
  height: 3.5rem;
}

#eventsMgmt #eventsMgmtContent #group {
  grid-area: box5;
}

#eventsMgmt #eventsMgmtContent #group select {
  height: 3.5rem;
}

#eventsMgmt #eventsMgmtContent #add {
  grid-template: box6;
  cursor: pointer;
}

#eventsMgmt #eventsMgmtContent #back {
  grid-template: box7;
  cursor: pointer;
}

#eventsMgmt #eventsMgmtContent p {
  width: 100%;
  text-align: center;
}

#eventsMgmt #eventsMgmtContent input, #eventsMgmt #eventsMgmtContent textarea {
  width: 100%;
  padding: 8px 8px;
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
  resize: none;
}

#eventsMgmt #eventsMgmtContent input:hover, #eventsMgmt #eventsMgmtContent textarea:hover {
  background-color: #444;
}

#eventsMgmt #eventsMgmtContent select {
  width: 100%;
  padding: 5px;
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
}

#eventsMgmt #eventsMgmtContent select option {
  padding: 0;
  font-size: .8rem;
}

@media (min-width: 768px) {
  #eventsMgmt {
    width: 600px;
  }
  #eventsMgmt #eventsMgmtHead {
    width: 100%;
    height: 50px;
  }
  #eventsMgmt #eventsMgmtContent {
    width: 100%;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "box1 box2" "box3 box3" "box3 box3" "box4 box5" "box7 box6";
  }
  #eventsMgmt #eventsMgmtContent #desc textarea {
    height: 7.6rem;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}
