<main>
<!--  <p id="statement" *ngIf="addedEvent" (click)="addedEvent = false">
    pomyślnie <br> dodano wydarzenie
  </p>-->
  <article>
    <nav>
      <p routerLink="/events">wróć</p>
    </nav>
    <section>

      <div id="eventsMgmtContent">
        <input type="text" [(ngModel)]="addEventForm.name" placeholder="przedmiot" onfocus="(this.placeholder='')"
               onblur="(this.placeholder='przedmiot')"><br>
        <select [(ngModel)]="addEventForm.eventType" required size="1">
          <option disabled selected hidden value="-1">typ</option>
          <option *ngFor="let type of getTypes()" [value]="type.pk">{{type.name}}</option>
        </select><br>
        <input class="start" placeholder="termin ( od )" onfocus="(this.type='date')" onblur="(this.type='text')">
        <input class="start" type="time">
        <div style="clear:both"></div>
        <input class="stop" placeholder="termin ( do )" onfocus="(this.type='date')" onblur="(this.type='text')">
        <input class="stop" type="time">
        <textarea placeholder="opis" [(ngModel)]="addEventForm.description" onfocus="(this.placeholder='')"
                  onblur="(this.placeholder='opis')"></textarea>
        <input id="add" type="button" (click)="addEvent()" value="dodaj wydarzenie">
      </div>
      <div id="typesMgmtContent">
        <div id="typeAddForm">
          <input type="text" placeholder="nazwa typu" [(ngModel)]="addTypeForm.name" onfocus="(this.placeholder='')"
                 onblur="(this.placeholder='nazwa typu')"><br>
          <input id="color" type="text" placeholder="kolor etykiety" [(ngModel)]="addTypeForm.color"
                 onmouseover="(this.type='color')" onmouseout="(this.type='text')">
          <div id="colorBox" [style.background]="addTypeForm.color"></div>
          <div style="clear:both"></div>
          <input id="addType" type="button" value="dodaj typ" (click)="addType()">
        </div>
        <select [(ngModel)]="delTypeForm.eventType" required size="1">
          <option disabled selected hidden value="-1">wybierz typ</option>
          <option *ngFor="let type of getTypes()" [value]="type.pk">{{type.name}}</option>
        </select><br>
        <input id="deleteType" type="button" value="usuń typ" (click)="delType()">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
