<main>
  <article>
    <nav></nav>
    <section>
      <div id="users">
        <div id="user" *ngFor="let user of getUsers(), index as index">
          <span>{{ user.username }}</span>
          <i class="icon-trash" (click)="deleteUser(user.id)"></i>
        </div>
      </div>
      <div id="usersMgmt">
        <h1>dodaj użytkownika:</h1>
        <input [(ngModel)]="newUserForm.username" type="text" placeholder="nazwa" onfocus="this.placeholder=''"
               onblur="this.placeholder='nazwa'">
        <select [(ngModel)]="newUserForm.group" required size="6" multiple>
          <option disabled selected hidden>uprawnienia</option>
          <option *ngFor="let group of getGroups()" [ngValue]="group.id">{{group.name}}</option>
        </select>
        <input id="add" type="button" (click)="createUser()" value="dodaj użytkownika">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
