<div id="content">
    <div id="main">
        <div id="logo">
            <img src="../assets/img/logotype_white.svg" alt="logo">
        </div>
    </div>
    <div id="page">
        <div id="box">
            <p>Class Student Service System</p>
            <h4>autorzy:</h4>
            <ul>
                <li>Jan Kowalski</li>
                <li>Jan Kowalski Jr.</li>
                <li>Jan Kowalsky</li>
            </ul>
            <button routerLink="/" routerLinkActive="active">wyjdź</button>
        </div>
    </div>
    <div style="clear:both"></div>
</div>