<main>
  <article>
    <nav>
      <p routerLink="/lessons">wróć</p>
    </nav>
    <section>
      <div id="lessonsMgmtContent">
        <input placeholder="przedmiot" type="text" onfocus="(this.placeholder='')"
          onblur="(this.placeholder='przedmiot')">
        <input placeholder="sala" type="text" onfocus="(this.placeholder='')" onblur="(this.placeholder='sala')">
        <select required size="1">
          <option disabled selected hidden>dzień</option>
          <option>Poniedziałek</option>
          <option>Wtorek</option>
          <option>Środa</option>
          <option>Czwartek</option>
          <option>Piątek</option>
        </select>
        <select required size="1">
          <option disabled selected hidden>godziny</option>
          <option>7:30-8:15</option>
          <option>8:25-9:10</option>
          <option>9:20-10:05</option>
          <option>10:15-11:00</option>
          <option>11:15-12:00</option>
          <option>12:10-12:55</option>
          <option>13:05-13:50</option>
          <option>13:55-14:40</option>
          <option>15:00-15:45</option>
          <option>15:55-16:40</option>
        </select>
        <select required size="1">
          <option disabled selected hidden>grupa</option>
          <option>grupa 1</option>
          <option>grupa 2</option>
          <option>grupa 1 - UTK</option>
          <option>grupa 2 - UTK</option>
          <option>grupa 3 - UTK</option>
          <option>grupa 1 - WF - chł.</option>
          <option>grupa 2 - WF - chł.</option>
          <option>grupa 3 - WF - dz.</option>
        </select>
        <input placeholder="data" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
        <input id="add" type="button" (click)="addLesson()" value="dodaj lekcję">
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
