main {
  position: relative;
}

main article {
  height: 100%;
}

main article nav {
  height: 3rem;
  margin: 0 2rem;
  width: calc(100% - 4rem);
  border-bottom: 1px solid rgba(217, 108, 0, 0.5);
  position: relative;
}

main article nav p {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: .5rem;
  font-size: 1.1rem;
  padding: .5rem 2rem;
  border: 1px solid rgba(238, 238, 238, 0.6);
  border-radius: 1rem;
  opacity: .6;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

main article nav p:hover {
  opacity: 1;
  cursor: pointer;
}

main article section {
  height: 90%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article section #lessonsMgmtContent {
  width: 70%;
  height: 95%;
  padding: 2rem;
  overflow-y: scroll;
}

main input,
main textarea,
main select {
  width: 100%;
  color: #eee;
  font-size: 1.2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-bottom: 2px solid rgba(221, 221, 221, 0.2);
  cursor: pointer;
}

main input::-webkit-input-placeholder,
main textarea::-webkit-input-placeholder,
main select::-webkit-input-placeholder {
  color: #eee;
  opacity: 1;
}

main input:-ms-input-placeholder,
main textarea:-ms-input-placeholder,
main select:-ms-input-placeholder {
  color: #eee;
  opacity: 1;
}

main input::-ms-input-placeholder,
main textarea::-ms-input-placeholder,
main select::-ms-input-placeholder {
  color: #eee;
  opacity: 1;
}

main input::placeholder,
main textarea::placeholder,
main select::placeholder {
  color: #eee;
  opacity: 1;
}

main #add {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(221, 221, 221, 0.2);
  border-radius: 1rem;
  text-align: center;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

main #add:hover {
  background-color: #000;
}

main #add:active {
  color: #333;
}

main select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

main select option {
  background-color: #222;
}

@media (min-width: 1350px) {
  main article nav {
    height: 10%;
  }
  main article nav p {
    font-size: 1.5rem;
    right: 10px;
    bottom: 1rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 1000px) {
  main article section {
    padding: 1.5rem;
  }
  main article section #lessonsMgmtContent {
    width: 90%;
    margin: .5rem 1rem;
  }
  main article input,
  main article textarea,
  main article select {
    font-size: 1rem;
    padding: 1.2rem;
  }
}

@media (max-width: 550px) {
  main article section #lessonsMgmtContent {
    width: 100%;
    padding: .8rem;
  }
  main article input,
  main article textarea,
  main article select {
    font-size: .8rem;
    padding: 1rem;
    margin: .5rem 0;
  }
}
/*# sourceMappingURL=lessons-edit.component.css.map */