<main>
  <article>
    <nav></nav>
    <section>
      <div id="page">
        <input type="password" placeholder="stare hasło" onfocus="this.placeholder=''"
               onblur="this.placeholder='stare hasło'" [(ngModel)]="changePasswordForm.oldPass">
        <br>

        <input type="password" placeholder="nowe hasło" onfocus="this.placeholder=''"
               onblur="this.placeholder='nowe hasło'" [(ngModel)]="changePasswordForm.newPass">
        <br>

        <input type="password" placeholder="powtórz nowe hasło" onfocus="this.placeholder=''"
               onblur="this.placeholder='powtórz nowe hasło'" [(ngModel)]="changePasswordForm.newPass2">
        <br>

        <button id="change" (click)="changePassword()">zmień hasło</button>
        <button id="exit" routerLink="/" routerLinkActive="active">wyjdź</button>
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
