article {
  height: 100%;

  nav {
    height: 3rem;
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }

  section {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    #page {
      border: 1px solid rgba(238, 238, 238, .1);
      border-radius: 1rem;
      padding: 2rem;

      input,
      button {
        width: 100%;
        color: #aaa;
        font-size: 1.2rem;
        font-family: 'Montserrat Alternates', sans-serif;
        padding: 1rem;
        margin: .5rem 0;
        background-color: rgba(0, 0, 0, .2);
        border: none;
        border-bottom: 2px solid rgba(221, 221, 221, .2);
        cursor: pointer;

        &:focus {
          background-color: rgba(0, 0, 0, .6);
        }

        &:hover {
          color: #eee;
        }
      }

      button {
        text-transform: uppercase;
        color: #eee;

        &:hover {
          color: #fff;
        }
      }

      #change {
        margin-top: 2rem;
        background-color: rgba(216, 90, 17, .8);
      }

      #exit {
        background-color: rgba(34, 34, 34, .8);
      }
    }
  }

}

@media (min-width: 1350px) {
  article {
    nav {
      height: 10%;
      border-bottom: 1px solid rgba(217, 108, 0, .5);
    }
  }

}

@media (max-width: 500px) {
  article {
    section {
      #page {

        input,
        button {
          font-size: 1rem;
          padding: .8rem 1rem;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  article {
    section {
      #page {

        input,
        button {
          font-size: .8rem;
          padding: .6rem 1rem;
        }
      }
    }
  }
}
