#content {
  position: absolute;
  background-image: url(../../../assets/img/loginPage/darkMosaic.png);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  #main {
    height: 30vh;
    width: 100%;

    #logo {
      height: 6rem;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      img {
        margin-left: 1rem;
        height: 70%;
      }
    }

    p {
      display: block;
      font-size: 65%;
      font-weight: 700;
      text-align: center;
      padding: 8%;
      text-indent: 15px;
      color: #eee;
      margin-bottom: 10px;

      span {
        color: green;
      }
    }
  }

  #page {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #box {
      -webkit-box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
      -moz-box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
      box-shadow: 3px 3px 30px 5px rgba(58, 58, 68, 1);
      background-color: #010101;
      text-align: center;
      padding: 20px 30px;
      border-radius: 20px;
      width: 300px;

      input {
        width: 100%;
        background-color: #efefef;
        color: #666;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 1.3rem;
        padding: 3%;
        outline: none;
        margin-top: 5%;
      }

      button {
        width: 100%;
        background-color: #d85b11;
        font-size: 1.3rem;
        color: #eee;
        padding: 4% 3%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 2px;
        outline: none;
        margin: 5% 0;
      }

      .exit {
        background-color: #222;
      }
    }
  }
}

@media (min-width: 1024px) {
  #content {
    background: url(../../../assets/img/darkness.png);
    height: 95vh;
    position: static;

    #main {
      display: none;
    }

    #page {
      background-image: url(../../../assets/img/mainBg.svg);
      background-size: cover;
      float: left;
      height: 95vh;
      width: 70%;

      #box {
        text-align: center;
        padding: 20px 30px;
        border-radius: 20px;
        width: 450px;
      }
    }
  }
}
