<main>
  <article>
    <nav></nav>
    <section>
      <div id="page">
        <input type="password" placeholder="stare hasło" onfocus="this.placeholder=''"
          onblur="this.placeholder='stare hasło'"> <!-- [(ngModel)]="loginForm.password" -->
        <br>

        <input type="password" placeholder="nowe hasło" onfocus="this.placeholder=''"
          onblur="this.placeholder='nowe hasło'"> <!-- [(ngModel)]="loginForm.password" -->
        <br>

        <input type="password" placeholder="powtórz nowe hasło" onfocus="this.placeholder=''"
          onblur="this.placeholder='powtórz nowe hasło'"> <!-- [(ngModel)]="loginForm.password" -->
        <br>

        <button id="change" (click)="changePassword()">zmień hasło</button>
        <button id="exit" routerLink="/" routerLinkActive="active">wyjdź</button>
      </div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
<!-- <div id="content">
    <div id="main">
        <div id="logo">
            <img src="../assets/img/logotype_white.svg" alt="logo">
        </div>
    </div>
    <div id="page">
        <div id="box">
            <label>
                <input
                    [(ngModel)]="loginForm.username"
                    placeholder="login"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='login'"
                >
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="stare hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='stare hasło'"
                > <!-- [(ngModel)]="loginForm.password" 
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="nowe hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='nowe hasło'"
                > <!-- [(ngModel)]="loginForm.password" 
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="powtórz nowe hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='powtórz nowe hasło'"
                > <!-- [(ngModel)]="loginForm.password" 
            </label><br>

            <button>zmień hasło</button>
            <button class="exit" routerLink="/" routerLinkActive="active">wyjdź</button>
        </div>
    </div>
    <div style="clear:both"></div>
</div> -->
