<div id="content">
    <div id="chgPassMainNav">
        <div id="chgPassLogo">
            <img src="../assets/img/logotype_white.svg" alt="logo">
        </div>
    </div>
    <div id="chgPassPage">
        <div id="chgPassBox">
            <label>
                <input
                    [(ngModel)]="loginForm.username"
                    placeholder="login"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='login'"
                >
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="stare hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='stare hasło'"
                > <!-- [(ngModel)]="loginForm.password" -->
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="nowe hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='nowe hasło'"
                > <!-- [(ngModel)]="loginForm.password" -->
            </label><br>
            <label>
                <input
                    type="password"
                    placeholder="powtórz nowe hasło"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='powtórz nowe hasło'"
                > <!-- [(ngModel)]="loginForm.password" -->
            </label><br>

            <button>zmień hasło</button>
            <button routerLink="/" routerLinkActive="active">wyjdź</button>
        </div>
    </div>
    <div style="clear:both"></div>
</div>