#content {
  background-image: url(../../../assets/img/loginPage/darkMosaic.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#content #chgPassMainNav {
  background-size: cover;
  height: 30vh;
  width: 100%;
}

#content #chgPassMainNav #chgPassLogo {
  height: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#content #chgPassMainNav #chgPassLogo img {
  margin-left: 1rem;
  height: 70%;
}

#content #chgPassMainNav p {
  display: block;
  font-size: 65%;
  font-weight: 700;
  text-align: center;
  padding: 8%;
  text-indent: 15px;
  color: #eee;
  margin-bottom: 10px;
}

#content #chgPassMainNav p span {
  color: green;
}

#content #chgPassPage {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content #chgPassPage #chgPassBox {
  -webkit-box-shadow: 3px 3px 30px 5px #3a3a44;
  -moz-box-shadow: 3px 3px 30px 5px #3a3a44;
  box-shadow: 3px 3px 30px 5px #3a3a44;
  text-align: center;
  padding: 20px 30px;
  border-radius: 20px;
  width: 300px;
}

#content #chgPassPage #chgPassBox input {
  width: 100%;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 3%;
  outline: none;
  margin-top: 5%;
}

#content #chgPassPage #chgPassBox button {
  width: 100%;
  background-color: #d85b11;
  font-size: 1.3rem;
  color: #eee;
  padding: 4% 3%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  margin-top: 10%;
}

@media (max-width: 1023px) and (max-height: 560px) and (orientation: landscape) {
  #content #chgPassMainNav {
    height: 100vh;
  }
  #content #chgPassPage {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  #content {
    background-image: url(../../../assets/img/loginPage/darkMosaic.png);
  }
  #content #chgPassMainNav {
    background-image: url(../../../assets/img/loginPage/darkMosaic.png);
    background-size: auto;
    float: left;
    height: 100vh;
    width: 50%;
  }
  #content #chgPassMainNav #logo {
    height: 15vh;
  }
  #content #chgPassMainNav p {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    font-size: 120%;
    text-align: right;
  }
  #content #chgPassPage {
    background-image: url(../../../assets/img/mainBg.svg);
    background-size: cover;
    float: left;
    height: 100vh;
    width: 50%;
    border-left: 30px solid #d85b11;
  }
  #content #chgPassPage #chgPassBox {
    text-align: center;
    padding: 20px 30px;
    border-radius: 20px;
    width: 450px;
  }
}
