article {
  height: 100%;

  nav {
    height: 3rem;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    border-bottom: 1px solid rgba(217, 108, 0, .5);
    position: relative;

    p {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: .5rem;
      font-size: 1.1rem;
      padding: .5rem 2rem;
      border: 1px solid rgba(238, 238, 238, .6);
      border-radius: 1rem;
      opacity: .6;
      transition: opacity .2s ease;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

  }

  section {
    height: 90%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    #infosList {
      float: left;
      width: 80%;
      height: 100%;
      padding: 0 2rem;
      overflow-y: scroll;

      #infoEl {
        margin: 1rem 0;

        div {
          padding: 0 2rem;
        }

        h6 {
          margin: .5rem 1rem 1.5rem;
          padding: 1.5rem 0;
          font-size: 1.3rem;
          border-bottom: 1px solid rgba(255, 166, 0, .2);
          position: relative;

          i {
            color: rgba(238, 238, 238, .6);
          }

          span {
            position: absolute;
            right: 10px;
            bottom: 8px;
            font-size: .8rem;
            color: rgba(238, 238, 238, .6);
          }
        }

        #img {

          img {
            float: left;
            margin: 0 1rem 1rem 1rem;
          }
        }

        p {
          font-size: 1.1rem;
          text-align: justify;
          text-indent: 4rem;
          margin: 1rem 2rem;
        }


      }

    }

    #rSide {
      float: left;
      width: 0;
    }
  }
}

@media (max-width: 700px) {
  article {
    section {
      padding: 0;

      #infosList {
        padding: 0;

        #infoEl {

          div {
            padding: 0;
          }

          p {
            font-size: .8rem;
          }

        }
      }
    }
  }
}

@media (max-width: 950px) {
  article {
    section {
      #infosList {
        #infoEl {
          p {
            margin: 0;
          }

          #img {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
              float: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1350px) {
  article {
    nav {
      height: 10%;

      p {
        font-size: 1.5rem;
        right: 10px;
        bottom: 1rem;
        transform: none;
      }
    }
  }
}
