<main>
  <article>
    <nav>
      <p routerLink="/infos-edit">edytuj</p>
    </nav>
    <section>
      <div id="infosList">

        <div id="infoEl" *ngFor="let info of infos">

          <h6><i class="icon-list-bullet"></i> {{ info.date }} <span>autor: {{ info.author }}</span></h6>

          <div>
            <div id="img">
              <img src="{{ info.url }}">
            </div>
            <p> {{ info.content }} </p>
          </div>
          <div style="clear:both"></div>
        </div>

      </div>
      <div id="rSide"></div>
    </section>
  </article>
</main>
<div style="clear:both"></div>
