<div>
  <p>Dodawanie wydarzeń</p>
  <input type="text" [(ngModel)]="addEventForm.name"><br/>
  <textarea [(ngModel)]="addEventForm.description"></textarea><br/>
  <select [(ngModel)]="addEventForm.eventType" size="1"><
    <option *ngFor="let type of getTypes()" [value]="type.pk">{{type.name}}</option>
  </select><br/>
  <input type="datetime-local" [(ngModel)]="addEventForm.dateStart" [value]="addEventForm.dateStart"><br/>
  <input type="datetime-local" [(ngModel)]="addEventForm.dateEnd" [value]="addEventForm.dateEnd">\
  <input type="submit" (click)="addEvent()">
</div>
<div>
  <p>Dodawanie Typów wydarzeń</p>
  <input type="text" [(ngModel)]="addTypeForm.name"><br/>
  <input type="submit" (click)="addType()">
</div>
