* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-color: #222 rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

body {
  position: fixed;
  background-image: url(assets/img/sand.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.4rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

.statement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statement #box {
  width: 30vw;
  height: 12rem;
  max-width: 500px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #eee;
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
}

.statement #box p {
  color: #111;
  font-size: 1.2rem;
  width: 100%;
  height: 50%;
  text-align: center;
}

.statement #box div {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statement #box div button {
  width: 40%;
  color: #eee;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 1rem;
  cursor: pointer;
}

.statement #box div .yes {
  background-color: #dd6300;
}

.statement #box div .back {
  background-color: #222;
}

@media (max-width: 1350px) {
  .statement #box {
    height: 10rem;
  }
  .statement #box p {
    font-size: 1rem;
  }
  .statement #box div button {
    font-size: .8rem;
  }
}

@media (max-width: 400px) {
  .statement #box {
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .statement #box {
    min-width: 350px;
  }
}

#mainNav {
  background-color: #D96C00;
  width: 100%;
  height: 25vh;
}

#mainNav #logo {
  width: 50vh;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

#mainNav #logo img {
  width: 70%;
  padding: 1.5rem;
}

#mainNav #logo:hover {
  opacity: .8;
}

#mainNav #menu {
  width: 100%;
  height: 40%;
  background-color: #D96C00;
  text-align: center;
  color: #fff;
  line-height: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#mainNav nav {
  background-color: #D96C00;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  position: absolute;
  z-index: 10000;
}

#mainNav nav .menuOp {
  padding: 1.5rem 1.1rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#mainNav nav .menuOp i {
  font-size: 1rem;
  margin-right: 5px;
}

#mainNav nav .menuOp:hover {
  padding-left: 35px;
}

#mainNav nav #usersMgmt {
  border-bottom: none;
}

#mainNav nav #mgmtOptions {
  font-size: .8rem;
}

main {
  width: 100%;
  padding: 15px 0;
  min-height: 73vh;
}

footer {
  display: none;
  padding: 0 5vw;
  height: 7vh;
  line-height: 7vh;
}

footer p {
  font-size: .6rem;
  width: 80%;
  float: left;
}

#settings {
  z-index: 1000;
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 2.5rem;
  line-height: 2.5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  float: left;
}

#settings i {
  cursor: pointer;
}

#settings #account {
  z-index: 1000;
  width: 100%;
  padding: 0 10vw;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: #1b1b1b;
}

#settings #account i {
  cursor: pointer;
}

#settings #account .opt {
  padding: 0 1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: .6;
}

#settings #account .opt:hover {
  opacity: 1;
}

#settings #account #close {
  display: inline-block;
  color: #cc0001;
  margin-left: 2rem;
  opacity: .6;
}

#settings #account #close:hover {
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@media (max-height: 670px) {
  #mainNav nav {
    font-size: 1.2rem;
    padding: 0;
  }
  #mainNav nav .menuOp {
    padding: 1rem 1.1rem;
  }
  #mainNav nav .menuOp i {
    font-size: .8rem;
    margin-right: 5px;
  }
  footer #settings {
    font-size: 90%;
  }
}

@media (min-width: 1350px) {
  .popup {
    font-size: 3rem;
  }
  #mainNav {
    float: left;
    height: 100vh;
    width: 25%;
    padding-right: 3rem;
    margin-bottom: 0;
  }
  #mainNav #logo {
    width: 80%;
    height: 15vh;
  }
  #mainNav #account {
    width: 30%;
  }
  #mainNav #menu {
    display: none;
  }
  #mainNav nav {
    width: 100%;
    position: static;
    text-align: left;
    padding: 0 0 0 2rem;
  }
  main {
    height: 95vh;
  }
  footer {
    display: block;
  }
  footer p {
    font-size: .8rem;
  }
  #settings {
    right: 2rem;
    bottom: 0;
    height: 7vh;
    line-height: 7vh;
  }
  #settings #account {
    font-size: 1.5rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  #container {
    width: 75%;
    height: 100vh;
    float: left;
    position: relative;
  }
  #container main {
    background-attachment: unset;
    float: left;
    height: calc(93vh - 4px);
    width: 100%;
  }
  #container footer {
    margin: 0 2rem;
    width: calc(100% - 4rem);
    border-top: 1px solid rgba(217, 108, 0, 0.5);
  }
}
/*# sourceMappingURL=styles.css.map */